body {
    background-color: rgb(142, 194, 177);
    font-family: verdana;
    margin: 20px;
}

.container {
    display: grid;
	grid-template-columns: 50fr 50fr;
	grid-template-rows: auto;
}

.questions, .exerciseInfo, .teacherInfo {
    grid-column: 2 / 3;
    background-color: rgba(255,255,255,0.24);
}

.gamePart {
    grid-column: 1 / 2;
}

.playBtn, .pauseBtn {
    padding: 10px;
    width: 100px;
    border-radius: 40px;
    font-family: verdana;
}

.dataChange {
    color:brown
}

.scoreBtn {
    background-color:rgb(185, 218, 231);
}

button {
    font-family: verdana;
    padding: 5px;
}
